<header>
    <nav>
        <a href="/posts">Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/users">Users</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/posts/create">Create New Post</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/users/create">Create New User</a>
    </nav>
</header>