<header>
    <nav class="header-nav">
        <div class="user-nav">
            <a class="myface" href="">MyFace</a>
            <a class="home" href="/users"> Home</a>
            <a class="headerposts" href="/posts">Posts</a>
            <a class="users" href="/users">Users</a>
            <a class="newpost" href="/posts/create">+ New Post</a>

            <section class="menu-icon" id="menu-icon">
                <div></div>
                <div></div>
                <div></div>
            </section>

        </div>
        <div class="menu" id="menu">
            <p> MyFace</p>
            <a href="/posts">Home</a>
            <a href="/posts">Posts</a>
            <a href="/users">Users</a>
            <a href="/posts/create">+New Post</a>
        </div>
    </nav>
</header>