<html lang="en-gb">
<header>
    <%- include('_head') -%>

</header>
<nav><%- include('_header') -%></nav>
<main>
    <h2>Create User</h2>
    <form method="post" action="/users/create">
        <label>
            Name:
            <input type="text" name="name" required></input>
        </label> <br /><br />
        <label>
            Username:
            <input type="text" name="username" required></input>
        </label><br /><br />
        <label>
            Email:
            <input type="email" name="email" required></input>
        </label><br /><br />
        <label>
            ProfileImageUrl:
            <input type="url" name="profileImageUrl" required></input>
        </label><br /><br />
        <label>
            CoverImageUrl:
            <input type="url" name="coverImageUrl" required></input>
        </label><br /><br />
        <button type="submit">Submit</button>
    </form>
</main>
<footer><%- include('_footer') -%></footer>

</html>