<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Create User</h1>
            <form method="post" action="/users/create">
                <label>
                    Name:
                    <input type="text" name="name" required></input>
                </label> <br /><br />
                <label>
                    Username:
                    <input type="text" name="username" required></input>
                </label><br /><br />
                <label>
                    Email:
                    <input type="email" name="email" required></input>
                </label><br /><br />
                <label>
                    ProfileImageUrl:
                    <input type="url" name="profileImageUrl" required></input>
                </label><br /><br />
                <label>
                    CoverImageUrl:
                    <input type="url" name="coverImageUrl" required></input>
                </label><br />
                <button type="submit">Submit</button>
            </form>
        </body>
        <%- include('_footer') -%>

</html>