<html lang="en-gb">
<header><%- include('_head') -%>
        <nav> <%- include('_header') -%></nav>
</header>

<main>
    <h1>Create Post</h1>
    <section>
        <form method="post" action="/posts/create">
            <label>
                Message
                <input type="text" name="message" required />

            </label>
            <label>
                ImageUrl
                <input type="url" name="imageUrl" required />

            </label>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>
<footer>><%- include('_footer') -%></footer </html>