<html lang="en-gb">
<header><%- include('_head') -%>

</header>
<nav> <%- include('_header') -%></nav>
<main>
    <h2>Create Post</h2>
    <section>
        <form method="post" action="/posts/create">
            <label>
                Message
                <input type="text" name="message" required />

            </label><br><br>
            <label>
                ImageUrl
                <input type="url" name="imageUrl" required />

            </label><br><br>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>
<footer><%- include('_footer') -%></footer>

</html>