/* postlist css */

#like:hover {
    background-color: green;

}

#dislike:hover {
    background-color: red;
}

h2 {
    color: white
}

ol {
    text-decoration: none;
    padding: 15px;
    color: white;
}

.postlistImg {
    height: 300px;
    width: 300px;
}

.menu-icon {
    float: right;
}

.menu-icon div {

    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

a {
    color: white
}

.menu {
    color: white;
    border: 2px solid black;
    display: flex;
    font-size: 2em;
    flex-direction: column;
    width: 300px;
    height: 300px;
    align-items: center;
    float: right
}

/* header CSS */

.header-nav {
    /* position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around; */
    padding: 15px 15px;
    font-size: 15px;
    background-color: #151820;
    max-width: 100%;

}

.user-nav {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
}

.headerposts,
.users,
.home {

    justify-content: center;
    color: white;
    /* margin: auto;
    margin-left: auto;
    margin-right: auto; */
}

.newpost {
    justify-content: start;
    color: white;

}

.myface {
    justify-content: end;
    color: white;

}

@media (min-width: 320px) {
    html {
        /* display: flex; */
        background-color: #252A38;
        flex-wrap: wrap;
        justify-content: center;

    }
}

main {
    justify-content: center;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
}

/* user_details CSS */
/* CSS for user sectin of user_details */

.user {

    position: relative;
    margin: 0;
    width: 100%;
    height: 25%;
}

.coverImage {
    height: 90%;
    width: 80%;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    align-self: center;
    display: flex;

}

.profile {
    height: 10%;
    /* width: 275px; */
    display: flex;
    top: 125px;
    padding: 5px;
    margin-left: 40px;
    position: absolute;
}

.profile_image {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 30px
}

.profile-details {
    font-size: 0.5em;
    color: white;
    margin-left: 40px;
    padding: 5px;
}

/* CSS for displaying posts,likes & dislikes of user_details */

.posts {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 25%;
    margin: 10px;

}

.posts_types {
    font-size: 0.3em;
    color: white;
}

.card {

    max-width: 10%;
    max-height: 80%;
    flex-direction: column;
    height: auto;
    margin: 5px;
    padding: 5px;
    border: solid, 10px, #151820;
    overflow: scroll;

}

.card_image {
    max-width: 100%;
    max-height: 50%;
    height: auto;

}

.card_body {
    max-width: 100%;
    max-height: 10%;
    height: auto;
}

.card h4 {
    font-size: 0.1em;
    color: white;
}

.card p {
    font-size: 0.1em;
    color: white;
}

/* footer CSS */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-self: center; */
    max-width: 100%;
    border-top: 20px;
    margin-top: 20px;
    border-top: 2px solid white;

}

.techswitchLogo {
    max-width: 80%;
    width: 150px;
    height: 100px;
}

.softwireLogo {
    max-width: 80%;
    width: 150px;
    height: 100px;
}