@import "user_detail.css";
@import "header.css";
@import "footer.css";
@import "post_list.css";


a {
    color: white
}

@media (min-width: 320px) {
    html {
        /* display: flex; */
        background-color: #252A38;
        flex-wrap: wrap;
        justify-content: center;

    }
}

main {
    justify-content: center;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
}