/* footer CSS */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid white;
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 15%;
}

.techswitchLogo {
    max-width: 60%;
    max-height: 60%;

}

.softwireLogo {
    max-width: 60%;
    max-height: 60%;

}