/* @import "user_detail.css";
@import "header.css";
@import "footer.css";
@import "post_list.css"; */

/* header CSS */
.header-nav {

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: black;
}

.user-nav {
    /* max-width: 80%; */
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 3px;
    width: 80%;
}

.myface {
    /* justify-content: flex-start; */
    float: left;


}

.menu-icon {
    /* justify-content: flex-end; */
    float: right;
}

.menu-icon div {

    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px 0;

}

.menu {
    color: white;
    border: 2px solid black;
    display: none;
    font-size: 1em;
    flex-direction: column;
    width: 200px;
    height: 150px;
    align-items: center;
    float: right;
    margin-top: 2px;
}