/* @import "user_detail.css";
@import "header.css";
@import "footer.css";
@import "post_list.css"; */

/* header CSS */
.header-nav {

    background-color: black;
    max-width: 100%;
    min-height: 7%;
    text-align: center;
}

.user-nav {
    max-width: 80%;

    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 3px;
}

.myface {
    float: left;
    color: white;

}

.menu-icon {
    float: right;
}

.menu-icon div {

    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu {
    color: white;
    border: 2px solid black;
    display: none;
    font-size: 1em;
    flex-direction: column;
    width: 200px;
    height: 150px;
    align-items: center;
    float: right;
    margin-top: 2px;
}