/* header CSS */

.header-nav {
    /* position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around; */
    padding: 15px 15px;
    font-size: 15px;
    background-color: #151820;
    max-width: 100%;

}

.user-nav {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
}

.headerposts,
.users,
.home {

    justify-content: center;
    color: white;
    /* margin: auto;
    margin-left: auto;
    margin-right: auto; */
}

.newpost {
    justify-content: start;
    color: white;

}

.myface {
    justify-content: end;
    color: white;

}

.menu-icon {
    float: right;
}

.menu-icon div {

    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu {
    color: white;
    border: 2px solid black;
    display: flex;
    font-size: 1em;
    flex-direction: column;
    width: 200px;
    height: 150px;
    align-items: center;
    float: right;
    margin-top: 2px;
}