/* postlist css */

/* #likedislike {
    text-align: center;
} */

#like {

    background-color: green;
    border-radius: 15px;

}

#dislike {
    background-color: red;
    border-radius: 15px;
}

h2 {
    color: white
}

ol {
    text-decoration: none;
    padding: 15px;
    color: white;
}

#postlistImg {
    height: 40%;
    width: 30%;
}