/* user_details CSS */
/* CSS for user sectin of user_details */

.userdetails-main {
    padding-top: 0%;
}

.user {
    position: relative;
    /* margin: 0; */
    /* top: 12%; */
    width: 80%;
    height: 25%;
    padding-top: 7%;

}

.coverImage {
    height: 100%;
    width: 100%;
}

.profile {
    height: 10%;
    /* display: flex; */
    top: 73%;
    padding: 5px;
    margin-left: 40px;
    position: absolute;
}

.profile_image {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 30px
}

.profile-details {
    font-size: 1em;
    color: white;
    margin-left: 140px;
    padding: 5px;
}

/* CSS for displaying posts,likes & dislikes of user_details */

.posts {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 25%;
    margin: 10px;
    overflow: scroll;

}

.posts_types {
    padding-top: 20px;
    font-size: 1em;
    color: white;
}

.card {
    max-width: 10%;
    max-height: 80%;
    flex-direction: column;
    height: auto;
    margin: 5px;
    padding: 5px;
    border: solid, 10px, #151820;
    overflow: scroll;

}

.card_image {
    max-width: 100%;
    max-height: 50%;
    height: auto;

}

.card_body {
    max-width: 100%;
    max-height: 10%;
    height: auto;

}

.card h4 {
    font-size: 0.6em;
    color: white;
}

.card p {
    font-size: 0.6em;
    color: white;
}